
.hero{
    text-align:center;
    padding:20px 10px 20px;
  background: #f5f2fe;
;
}
.container{
    padding:20px 0px 20px;
    text-align:center;
    margin:10px 10px 10px;
}

img{
    display:flex;
}

.hero a, .container a{
color:white;
background:violet;
  border: 1px solid;
  border-radius: 4px;
  padding: 10px 10px 10px;
  text-decoration: none;

}

@media (max-width:576px){
    img{
        display:none;


    }
}